body {
    background-image: url("../../assets/images/topography.png");
    background-repeat: repeat;
}

#image-holder {
	margin: 30px;

}

img {
	border-radius: 5px;
}

.Jumbotron {
	margin: 20px;
}

footer {
	margin: 20px;
	text-align: center;
}

.well-sm {
	background-color: #fff;
}

label {
	margin: 10px;
}